--
-- Create model Articulo
--
CREATE TABLE "ARTICULO" ("COD_ARTICULO" NVARCHAR2(30) NOT NULL PRIMARY KEY, "DESCRIPCION" NVARCHAR2(50) NULL);
--
-- Create model Bulto
--
CREATE TABLE "BULTO" ("ID_BULTO" NUMBER(11) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "ACTIVO" NUMBER(1) NOT NULL CHECK ("ACTIVO" IN (0,1)));
--
-- Create model Cita
--
CREATE TABLE "CITA" ("ID_CITA" NUMBER(11) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "FECHA" DATE NOT NULL, "HORA" TIMESTAMP NOT NULL, "OPERADOR_LOGISTICO" NVARCHAR2(40) NULL, "ACTIVO" NUMBER(1) NOT NULL CHECK ("ACTIVO" IN (0,1)));
--
-- Create model Cliente
--
CREATE TABLE "CLIENTE" ("ID_CLIENTE" NUMBER(11) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "NOMBRE" NVARCHAR2(50) NULL, "DIRECCION" NVARCHAR2(50) NULL, "TELEFONO" NVARCHAR2(50) NULL, "NOM_CONTACTO" NVARCHAR2(50) NULL, "CORREO_CONTACTO" NVARCHAR2(50) NULL);
--
-- Create model Despacho
--
CREATE TABLE "DESPACHO" ("ID_DESPACHO" NUMBER(11) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "DIRECCION" NVARCHAR2(50) NULL, "COMUNA" NVARCHAR2(40) NULL, "TIPO_DESPACHO" NVARCHAR2(30) NULL, "GUIA_DESPACHO" NVARCHAR2(30) NULL, "ACTIVO" NUMBER(1) NOT NULL CHECK ("ACTIVO" IN (0,1)));
--
-- Create model IndicadorDespacho
--
CREATE TABLE "INDICADOR_DESPACHO" ("ID_INT_DEP" NUMBER(11) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "TIPO_VENTA" NVARCHAR2(20) NULL, "CANTIDAD_DESPACHO" NUMBER(11) NOT NULL, "EXITOS" NUMBER(11) NOT NULL, "ESTADO_FINAL" NUMBER(11) NOT NULL, "FECHA" DATE NOT NULL, "ACTIVO" NUMBER(1) NOT NULL CHECK ("ACTIVO" IN (0,1)));
--
-- Create model IndicadorTipoVenta
--
CREATE TABLE "INDICADOR_TIPO_VENTA" ("ID_INT_TP" NUMBER(11) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "TIPO_VENTA" NVARCHAR2(20) NULL, "CANTIDAD_DESPACHO" NUMBER(11) NOT NULL, "EXITOS" NUMBER(11) NOT NULL, "ESTADO_FINAL" NUMBER(11) NOT NULL, "FECHA" DATE NOT NULL, "ACTIVO" NUMBER(1) NOT NULL CHECK ("ACTIVO" IN (0,1)));
--
-- Create model LineaEmbalaje
--
CREATE TABLE "LINEA_EMBALAJE" ("COD_LE" NUMBER(11) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "ORDEN_VENTA" NVARCHAR2(20) NULL, "COD_ARTICULO" NVARCHAR2(30) NULL, "LINEA" NUMBER(11) NOT NULL, "DESCRIPCION_ARTICULO" NVARCHAR2(30) NULL, "CANTIDAD" NUMBER(11) NOT NULL, "ACTIVO" NUMBER(1) NOT NULL CHECK ("ACTIVO" IN (0,1)));
--
-- Create model LineaNoLiberada
--
CREATE TABLE "LINEA_NO_LIBERADA" ("COD_LNL" NUMBER(11) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "ORDEN_VENTA" NVARCHAR2(20) NULL, "COD_ARTICULO" NVARCHAR2(30) NULL, "LINEA" NUMBER(11) NOT NULL, "DESCRIPCION_ARTICULO" NVARCHAR2(30) NULL, "CANTIDAD" NUMBER(11) NOT NULL, "ACTIVO" NUMBER(1) NOT NULL CHECK ("ACTIVO" IN (0,1)));
--
-- Create model LineaPicking
--
CREATE TABLE "LINEA_PICKING" ("COD_LP" NUMBER(11) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "ORDEN_VENTA" NVARCHAR2(20) NULL, "COD_ARTICULO" NVARCHAR2(30) NULL, "LINEA" NUMBER(11) NOT NULL, "DESCRIPCION_ARTICULO" NVARCHAR2(30) NULL, "CANTIDAD" NUMBER(11) NOT NULL, "ACTIVO" NUMBER(1) NOT NULL CHECK ("ACTIVO" IN (0,1)));
--
-- Create model LineaReparto
--
CREATE TABLE "LINEA_REPARTO" ("COD_LR" NUMBER(11) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "ORDEN_VENTA" NVARCHAR2(20) NULL, "COD_ARTICULO" NVARCHAR2(30) NULL, "LINEA" NUMBER(11) NOT NULL, "DESCRIPCION_ARTICULO" NVARCHAR2(30) NULL, "CANTIDAD" NUMBER(11) NOT NULL, "ACTIVO" NUMBER(1) NOT NULL CHECK ("ACTIVO" IN (0,1)));
--
-- Create model OrdenVenta
--
CREATE TABLE "ORDEN_VENTA" ("ORDEN_VENTA" NVARCHAR2(20) NOT NULL PRIMARY KEY, "TIPO_PAGO" NVARCHAR2(30) NULL, "TIPO_VENTA" NVARCHAR2(30) NULL, "CANAL_VENTA" NVARCHAR2(20) NULL, "ORDEN_COMPRA" NVARCHAR2(50) NULL, "CLIENTE_ID" NUMBER(11) NOT NULL);
--
-- Create model Transporte
--
CREATE TABLE "TRANSPORTE" ("ID_TRANSPORTE" NUMBER(11) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "OT" NVARCHAR2(20) NULL, "EMPRESA" NVARCHAR2(30) NULL, "ACTIVO" NUMBER(1) NOT NULL CHECK ("ACTIVO" IN (0,1)));
--
-- Create model Retiro
--
CREATE TABLE "RETIRO" ("ID_RETIRO" NUMBER(11) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "FECHA_HORA" TIMESTAMP NOT NULL, "HORA_INICIO" TIMESTAMP NOT NULL, "HORA_FIN" TIMESTAMP NOT NULL, "CLIENTE" NVARCHAR2(40) NULL, "ACTIVO" NUMBER(1) NOT NULL CHECK ("ACTIVO" IN (0,1)), "DESPACHO_ID" NUMBER(11) NOT NULL);
--
-- Create model Planificacion
--
CREATE TABLE "PLANIFICACION" ("ID_PLANIFICACION" NUMBER(11) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "LLAVE_BUSQUEDA" NVARCHAR2(30) NULL, "FECHA_PLANIFICACION" DATE NOT NULL, "ORDEN_VENTA_ID" NVARCHAR2(20) NOT NULL);
--
-- Create model Linea
--
CREATE TABLE "LINEA" ("ID_LINEA" NUMBER(11) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "NUM_LINEA" NUMBER(11) NOT NULL, "CANTIDAD" NUMBER(11) NOT NULL, "ESTADO" NVARCHAR2(40) NULL, "ACTIVO" NUMBER(1) NOT NULL CHECK ("ACTIVO" IN (0,1)), "ARTICULO_ID" NVARCHAR2(30) NOT NULL, "DESPACHO_ID" NUMBER(11) NOT NULL, "ORDEN_VENTA_ID" NVARCHAR2(20) NOT NULL);
--
-- Create model DetalleRetiro
--
CREATE TABLE "DETALLE_RETIRO" ("ID_DETALLE_RETIRO" NUMBER(11) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "ORDEN_VENTA" NVARCHAR2(40) NULL, "LINEA" NVARCHAR2(40) NULL, "DESCRIPCION" NVARCHAR2(40) NULL, "CANTIDAD" NUMBER(11) NOT NULL, "TIPO_EMBALAJE" NVARCHAR2(40) NULL, "RETIRO_ID" NUMBER(11) NOT NULL);
--
-- Create model DetalleCita
--
CREATE TABLE "DETALLE_CITA" ("ID_DETALLE_CITA" NUMBER(11) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "ORDEN_VENTA" NVARCHAR2(40) NULL, "LINEA" NVARCHAR2(40) NULL, "DESCRIPCION" NVARCHAR2(40) NULL, "CANTIDAD" NUMBER(11) NOT NULL, "TIPO_EMBALAJE" NVARCHAR2(40) NULL, "CITA_ID" NUMBER(11) NOT NULL);
--
-- Create model Detalle_Bulto
--
CREATE TABLE "DETALLE_BULTO" ("ID_DETALLE_BULTO" NUMBER(11) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "CANTIDAD" NUMBER(11) NOT NULL, "LARGO" NUMBER(11) NOT NULL, "ANCHO" NUMBER(10, 5) NOT NULL, "VOLUMEN" NUMBER(10, 5) NOT NULL, "PESO_BRUTO" NUMBER(10, 5) NOT NULL, "PESO_NETO" NUMBER(10, 5) NOT NULL, "BULTO_ID" NUMBER(11) NOT NULL);
--
-- Add field transporte to despacho
--
ALTER TABLE "DESPACHO" ADD "TRANSPORTE_ID" NUMBER(11) NOT NULL CONSTRAINT "DESPACHO_TRANSPORT_19D61728_F" REFERENCES "TRANSPORTE"("ID_TRANSPORTE") DEFERRABLE INITIALLY DEFERRED;
--
-- Add field despacho to cita
--
ALTER TABLE "CITA" ADD "DESPACHO_ID" NUMBER(11) NOT NULL CONSTRAINT "CITA_DESPACHO__F6E36726_F" REFERENCES "DESPACHO"("ID_DESPACHO") DEFERRABLE INITIALLY DEFERRED;
--
-- Add field linea to bulto
--
ALTER TABLE "BULTO" ADD "LINEA_ID" NUMBER(11) NOT NULL CONSTRAINT "BULTO_LINEA_ID_D1CCC55A_F" REFERENCES "LINEA"("ID_LINEA") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "ORDEN_VENTA" ADD CONSTRAINT "ORDEN_VEN_CLIENTE_I_F00125A5_F" FOREIGN KEY ("CLIENTE_ID") REFERENCES "CLIENTE" ("ID_CLIENTE") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "ORDEN_VENT_CLIENTE_ID_F00125A5" ON "ORDEN_VENTA" ("CLIENTE_ID");
ALTER TABLE "RETIRO" ADD CONSTRAINT "RETIRO_DESPACHO__DF9E4F77_F" FOREIGN KEY ("DESPACHO_ID") REFERENCES "DESPACHO" ("ID_DESPACHO") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "RETIRO_DESPACHO_ID_DF9E4F77" ON "RETIRO" ("DESPACHO_ID");
ALTER TABLE "PLANIFICACION" ADD CONSTRAINT "PLANIFICA_ORDEN_VEN_378A00AE_F" FOREIGN KEY ("ORDEN_VENTA_ID") REFERENCES "ORDEN_VENTA" ("ORDEN_VENTA") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "PLANIFICAC_ORDEN_VENT_378A00AE" ON "PLANIFICACION" ("ORDEN_VENTA_ID");
ALTER TABLE "LINEA" ADD CONSTRAINT "LINEA_ARTICULO__08035B04_F" FOREIGN KEY ("ARTICULO_ID") REFERENCES "ARTICULO" ("COD_ARTICULO") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "LINEA" ADD CONSTRAINT "LINEA_DESPACHO__77A71D28_F" FOREIGN KEY ("DESPACHO_ID") REFERENCES "DESPACHO" ("ID_DESPACHO") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "LINEA" ADD CONSTRAINT "LINEA_ORDEN_VEN_C588C323_F" FOREIGN KEY ("ORDEN_VENTA_ID") REFERENCES "ORDEN_VENTA" ("ORDEN_VENTA") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "LINEA_ARTICULO_ID_08035B04" ON "LINEA" ("ARTICULO_ID");
CREATE INDEX "LINEA_DESPACHO_ID_77A71D28" ON "LINEA" ("DESPACHO_ID");
CREATE INDEX "LINEA_ORDEN_VENTA_ID_C588C323" ON "LINEA" ("ORDEN_VENTA_ID");
ALTER TABLE "DETALLE_RETIRO" ADD CONSTRAINT "DETALLE_R_RETIRO_ID_71C36EB0_F" FOREIGN KEY ("RETIRO_ID") REFERENCES "RETIRO" ("ID_RETIRO") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "DETALLE_RE_RETIRO_ID_71C36EB0" ON "DETALLE_RETIRO" ("RETIRO_ID");
ALTER TABLE "DETALLE_CITA" ADD CONSTRAINT "DETALLE_C_CITA_ID_11F141D5_F" FOREIGN KEY ("CITA_ID") REFERENCES "CITA" ("ID_CITA") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "DETALLE_CITA_CITA_ID_11F141D5" ON "DETALLE_CITA" ("CITA_ID");
ALTER TABLE "DETALLE_BULTO" ADD CONSTRAINT "DETALLE_B_BULTO_ID_7F265BCE_F" FOREIGN KEY ("BULTO_ID") REFERENCES "BULTO" ("ID_BULTO") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "DETALLE_BU_BULTO_ID_7F265BCE" ON "DETALLE_BULTO" ("BULTO_ID");
CREATE INDEX "DESPACHO_TRANSPORTE_19D61728" ON "DESPACHO" ("TRANSPORTE_ID");
CREATE INDEX "CITA_DESPACHO_ID_F6E36726" ON "CITA" ("DESPACHO_ID");
CREATE INDEX "BULTO_LINEA_ID_D1CCC55A" ON "BULTO" ("LINEA_ID");

