{% extends 'base.html' %}

{% block content %}
<div class="container-xl">
    <!-- Page title -->
    <div class="page-header d-print-none">
        <div class="row align-items-center">
            <div class="col">
                <h2 class="page-title">
                    Indicadores
                </h2>
            </div>
        </div>
    </div>
</div>

<div class="page-body">
    <div class="container-xl">
        <div class="card">
            <div class="col-12">
                <div class="card-group nav nav-tabs flex-column flex-sm-row" data-bs-toggle="tabs">
                    <a href="#lineas-tipo-despacho" class="card text-center" data-bs-toggle="tab"
                        id='tab-tipo-despacho'>
                        <div class="card-body">
                            <p>Líneas a despachar según tipo de despacho</p>
                        </div>
                    </a>
                    <a href="#lineas-tipo-venta" class="card text-center" data-bs-toggle="tab" id="tab-tipo-venta">
                        <div class="card-body">
                            <p>Líneas a despachar según tipo de venta</p>
                        </div>
                    </a>
                    <a href="#estado-carga" class="card text-center" data-bs-toggle="tab" id="tab-carga">
                        <div class="card-body">
                            <p>Estado de carga por tarea</p>
                        </div>
                    </a>
                    <a href="#progreso-despacho" class="card text-center" data-bs-toggle="tab" id="tab-progreso">
                        <div class="card-body">
                            <p>Progreso diario de despachos</p>
                        </div>
                    </a>
                    <a href="#" class="card text-center" data-bs-toggle="tab" id="tab-reportes">
                        <div class=" card-body">
                            <p>Reportes graficos</p>
                        </div>
                    </a>

                </div>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane" id="lineas-tipo-despacho">

                        <div class="row row-deck row-cards">
                            <div class="card-header">
                                <h3 class="card-title">Lineas a despachar según tipo de despacho</h3>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="card bg-yellow-lt">
                                    <div class="card-body p-2">
                                        <div class="text-dark text-center">
                                            <h3>Despacho directo</h3>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <p class="float-lg-start" style="font-size: 1rem;">Cantidad de
                                                            lineas
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="float-lg-end" style="font-size: 1rem;">1534</p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="float-lg-end text-green" style="font-size: 1rem;">72%
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <p class="float-lg-start" style="font-size: 1rem;">Ingresos por
                                                            despacho
                                                            (CLP)
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="float-lg-end" style="font-size: 1rem;">$37.243.459</p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="float-lg-end text-green" style="font-size: 1rem;">34%
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="card bg-yellow-lt">
                                    <div class="card-body p-2">
                                        <div class="text-dark text-center">
                                            <h3>Traspaso entre sucursales</h3>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <p class="float-lg-start" style="font-size: 1rem;">Cantidad de
                                                            lineas
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="float-lg-end" style="font-size: 1rem;">1534</p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="float-lg-end text-green" style="font-size: 1rem;">72%
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <p class="float-lg-start" style="font-size: 1rem;">Ingresos por
                                                            despacho
                                                            (CLP)
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="float-lg-end" style="font-size: 1rem;">$37.243.459</p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="float-lg-end text-green" style="font-size: 1rem;">34%
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="card bg-yellow-lt">
                                    <div class="card-body p-2">
                                        <div class="text-dark text-center">
                                            <h3>Embalaje</h3>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <p class="float-lg-start" style="font-size: 1rem;">Cantidad de
                                                            lineas
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="float-lg-end" style="font-size: 1rem;">1534</p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="float-lg-end text-green" style="font-size: 1rem;">72%
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <p class="float-lg-start" style="font-size: 1rem;">Ingresos por
                                                            despacho
                                                            (CLP)
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="float-lg-end" style="font-size: 1rem;">$37.243.459</p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="float-lg-end text-green" style="font-size: 1rem;">34%
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="card bg-yellow-lt">
                                    <div class="card-body p-2">
                                        <div class="text-dark text-center">
                                            <h3>Exportaciones</h3>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <p class="float-lg-start" style="font-size: 1rem;">Cantidad de
                                                            lineas
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="float-lg-end" style="font-size: 1rem;">1534</p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="float-lg-end text-green" style="font-size: 1rem;">72%
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <p class="float-lg-start" style="font-size: 1rem;">Ingresos por
                                                            despacho
                                                            (CLP)
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="float-lg-end" style="font-size: 1rem;">$37.243.459</p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="float-lg-end text-green" style="font-size: 1rem;">34%
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="card bg-yellow-lt">
                                    <div class="card-body p-2">
                                        <div class="text-dark text-center">
                                            <h3>Retira cliente</h3>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <p class="float-lg-start" style="font-size: 1rem;">Cantidad de
                                                            lineas
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="float-lg-end" style="font-size: 1rem;">1534</p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="float-lg-end text-green" style="font-size: 1rem;">72%
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <p class="float-lg-start" style="font-size: 1rem;">Ingresos por
                                                            despacho
                                                            (CLP)
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="float-lg-end" style="font-size: 1rem;">$37.243.459</p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="float-lg-end text-green" style="font-size: 1rem;">34%
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <span></span>
                        <!-- FIN TIPO DE DESPACHO -->

                    </div>

                    <div class="tab-pane" id="lineas-tipo-venta">
                        <div class="row row-deck row-cards">
                            <div class="card-header">
                                <h3 class="card-title">Lineas a despachar según tipo de venta</h3>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="card bg-lime-lt">
                                    <div class="card-body p-2">
                                        <div class="text-dark text-center">
                                            <h3>1STOCK_R</h3>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <p class="float-lg-start" style="font-size: 1rem;">Cantidad de
                                                            lineas
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="float-lg-end" style="font-size: 1rem;">1534</p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="float-lg-end text-green" style="font-size: 1rem;">72%
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <p class="float-lg-start" style="font-size: 1rem;">Ingresos por
                                                            venta
                                                            (CLP)
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="float-lg-end" style="font-size: 1rem;">$37.243.459</p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="float-lg-end text-green" style="font-size: 1rem;">34%
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="card bg-lime-lt">
                                    <div class="card-body p-2">
                                        <div class="text-dark text-center">
                                            <h3>1STOCK</h3>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <p class="float-lg-start" style="font-size: 1rem;">Cantidad de
                                                            lineas
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="float-lg-end" style="font-size: 1rem;">1534</p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="float-lg-end text-green" style="font-size: 1rem;">72%
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <p class="float-lg-start" style="font-size: 1rem;">Ingresos por
                                                            venta
                                                            (CLP)
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="float-lg-end" style="font-size: 1rem;">$37.243.459</p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="float-lg-end text-green" style="font-size: 1rem;">34%
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="card bg-lime-lt">
                                    <div class="card-body p-2">
                                        <div class="text-dark text-center">
                                            <h3>2CALZADO</h3>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <p class="float-lg-start" style="font-size: 1rem;">Cantidad de
                                                            lineas
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="float-lg-end" style="font-size: 1rem;">1534</p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="float-lg-end text-green" style="font-size: 1rem;">72%
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <p class="float-lg-start" style="font-size: 1rem;">Ingresos por
                                                            venta
                                                            (CLP)
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="float-lg-end" style="font-size: 1rem;">$37.243.459</p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="float-lg-end text-green" style="font-size: 1rem;">34%
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="card bg-lime-lt">
                                    <div class="card-body p-2">
                                        <div class="text-dark text-center">
                                            <h3>2LIQUIDA</h3>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <p class="float-lg-start" style="font-size: 1rem;">Cantidad de
                                                            lineas
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="float-lg-end" style="font-size: 1rem;">1534</p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="float-lg-end text-green" style="font-size: 1rem;">72%
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <p class="float-lg-start" style="font-size: 1rem;">Ingresos por
                                                            venta
                                                            (CLP)
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="float-lg-end" style="font-size: 1rem;">$37.243.459</p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="float-lg-end text-green" style="font-size: 1rem;">34%
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="card bg-lime-lt">
                                    <div class="card-body p-2">
                                        <div class="text-dark text-center">
                                            <h3>2PROYECT</h3>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <p class="float-lg-start" style="font-size: 1rem;">Cantidad de
                                                            lineas
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="float-lg-end" style="font-size: 1rem;">1534</p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="float-lg-end text-green" style="font-size: 1rem;">72%
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <p class="float-lg-start" style="font-size: 1rem;">Ingresos por
                                                            venta
                                                            (CLP)
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="float-lg-end" style="font-size: 1rem;">$37.243.459</p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="float-lg-end text-green" style="font-size: 1rem;">34%
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="card bg-lime-lt">
                                    <div class="card-body p-2">
                                        <div class="text-dark text-center">
                                            <h3>OS</h3>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <p class="float-lg-start" style="font-size: 1rem;">Cantidad de
                                                            lineas
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="float-lg-end" style="font-size: 1rem;">1534</p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="float-lg-end text-green" style="font-size: 1rem;">72%
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <p class="float-lg-start" style="font-size: 1rem;">Ingresos por
                                                            venta
                                                            (CLP)
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="float-lg-end" style="font-size: 1rem;">$37.243.459</p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p class="float-lg-end text-green" style="font-size: 1rem;">34%
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <span></span>
                        <!-- FIN TIPO DE VENTA -->

                    </div>

                    <div class="tab-pane" id="estado-carga">
                        {{sum_lineas}}
                        <!-- {{lineas}} -->

                        <div class="row row-deck row-cards">
                            <div class="card-header">
                                <h3 class="card-title">Estado de carga por tareas</h3>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="card">
                                    <div class="card-body p-2 text-center" data-bs-toggle="tooltip" data-bs-html="true"
                                        data-bs-placement="right"
                                        title="{% for emb in list_embalaje %}<p class='test'>{{emb}}</p> {% endfor %}"
                                        data-container='body'>
                                        <div class="text-end text-green">
                                            <span class="text-green d-inline-flex align-items-center lh-1"
                                                style="font-size: 19px;">
                                                {{prc_no_liberada}}%

                                            </span>
                                        </div>
                                        <div class="h1 m-0">{{ln_no_liberada}}</div>
                                        <div class="text-muted mb-3">Líneas no liberadas</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="card" id='test_tooltip'>
                                    <div class="card-body p-2 text-center" data-bs-toggle="tooltip" data-bs-html="true"
                                        data-bs-placement="right"
                                        title="{% for emb in list_embalaje %} {{emb}} <br></br> {% endfor %}"
                                        data-container='body'>
                                        <div class="text-end text-green">
                                            <span class="text-green d-inline-flex align-items-center lh-1"
                                                style="font-size: 19px;">
                                                {{prc_picking}}%

                                            </span>
                                        </div>
                                        <div class="h1 m-0">{{ln_picking}}</div>
                                        <div class="text-muted mb-3">Líneas en picking</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="card">
                                    <div class="card-body p-2 text-center" data-bs-toggle="tooltip"
                                        data-bs-placement="right"
                                        title="1) OV03497 - Linea 1 - KIT, SHAFT SLEEVE,2812C000SFWS - 30 2) OV03497 - Linea 1 - KIT, SHAFT SLEEVE,2812C000SFWS - 30"
                                        data-container='body'>
                                        <div class="text-end text-green">
                                            <span class="text-green d-inline-flex align-items-center lh-1"
                                                style="font-size: 19px;">
                                                {{prc_embalaje}}%

                                            </span>
                                        </div>
                                        <div class="h1 m-0">{{ln_embalaje}}</div>
                                        <div class="text-muted mb-3">Líneas en embalaje</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">

                                <div class="card">
                                    <div class="card-body p-2 text-center">
                                        <div class="text-end text-green">
                                            <span class="text-green d-inline-flex align-items-center lh-1"
                                                style="font-size: 19px;">
                                                {{prc_reparto}}%

                                            </span>
                                        </div>
                                        <div class="h1 m-0">{{ln_reparto}}</div>
                                        <div class="text-muted mb-3">Líneas en reparto</div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                    <div class="tab-pane" id="progreso-despacho">

                        <div class="row">
                            <div class="card-header">
                                <h3 class="card-title">Progreso diario de despachos</h3>
                            </div>
                            <div class="col-12 p-3">
                                <div class="col-4 mb-3">
                                    <label class="form-label">Filtrar por:</label>
                                    <select type="text" class="form-select" id="select-progreso" value="">
                                        <option value="1">Tipo de despacho</option>
                                        <option value="2">Tipo de venta</option>
                                    </select>
                                </div>
                                <div id='progreso-container'>

                                    <div class="form-group mb-4">
                                        <div class="col-6 col-sm-6">
                                            <label class="form-label col-form-label">Total de líneas
                                                planificadas</label>
                                            <div class="progress">
                                                <div class="progress-bar" style="width: 38%" role="progressbar"
                                                    aria-valuenow="38" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="visually-hidden">38%</span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="form-group mb-4 row">
                                        <div class="col-6 col-sm-3">
                                            <label class="form-label col-form-label">Despachos directos</label>
                                            <div class="progress">
                                                <div class="progress-bar" style="width: 38%" role="progressbar"
                                                    aria-valuenow="38" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="visually-hidden">38%</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 col-sm-3">
                                            <label class="form-label col-form-label">Traspaso entre sucursales</label>
                                            <div class="progress">
                                                <div class="progress-bar" style="width: 25%" role="progressbar"
                                                    aria-valuenow="38" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="visually-hidden">25%</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-4 row">
                                        <div class="col-6 col-sm-3">
                                            <label class="form-label col-form-label">Embalaje</label>
                                            <div class="progress">
                                                <div class="progress-bar" style="width: 38%" role="progressbar"
                                                    aria-valuenow="38" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="visually-hidden">38%</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 col-sm-3">
                                            <label class="form-label col-form-label">Exportaciones</label>
                                            <div class="progress">
                                                <div class="progress-bar" style="width: 38%" role="progressbar"
                                                    aria-valuenow="38" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="visually-hidden">38%</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group mb-4 row">
                                        <div class="col-6 col-sm-3">
                                            <label class="form-label col-form-label">Retira cliente</label>
                                            <div class="progress">
                                                <div class="progress-bar" style="width: 55%" role="progressbar"
                                                    aria-valuenow="38" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="visually-hidden">55%</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>

        <script>
            $("#tab-tipo-despacho").on('click', function (e) {
                const tab = document.getElementById('tab-tipo-despacho')
                tab.classList.add('card-active')
                if ($('#tab-tipo-venta').hasClass('card-active')) {
                    $('#tab-tipo-venta').removeClass('card-active')
                }
                if ($('#tab-carga').hasClass('card-active')) {
                    $('#tab-carga').removeClass('card-active')
                }
                if ($('#tab-progreso').hasClass('card-active')) {
                    $('#tab-progreso').removeClass('card-active')
                }
                if ($('#tab-reportes').hasClass('card-active')) {
                    $('#tab-reportes').removeClass('card-active')
                }
            })
            $("#tab-tipo-venta").on('click', function (e) {
                const tab = document.getElementById('tab-tipo-venta')
                tab.classList.add('card-active')

                if ($('#tab-tipo-despacho').hasClass('card-active')) {
                    $('#tab-tipo-despacho').removeClass('card-active')
                }

                if ($('#tab-carga').hasClass('card-active')) {
                    $('#tab-carga').removeClass('card-active')
                }

                if ($('#tab-progreso').hasClass('card-active')) {
                    $('#tab-progreso').removeClass('card-active')
                }
                if ($('#tab-reportes').hasClass('card-active')) {
                    $('#tab-reportes').removeClass('card-active')
                }
            })
            $("#tab-carga").on('click', function (e) {
                const tab = document.getElementById('tab-carga')
                tab.classList.add('card-active')
                if ($('#tab-tipo-venta').hasClass('card-active')) {
                    $('#tab-tipo-venta').removeClass('card-active')
                }
                if ($('#tab-tipo-despacho').hasClass('card-active')) {
                    $('#tab-tipo-despacho').removeClass('card-active')
                }
                if ($('#tab-progreso').hasClass('card-active')) {
                    $('#tab-progreso').removeClass('card-active')
                }
                if ($('#tab-reportes').hasClass('card-active')) {
                    $('#tab-reportes').removeClass('card-active')
                }
            })
            $("#tab-progreso").on('click', function (e) {
                const tab = document.getElementById('tab-progreso')
                tab.classList.add('card-active')

                if ($('#tab-tipo-despacho').hasClass('card-active')) {
                    $('#tab-tipo-despacho').removeClass('card-active')
                }

                if ($('#tab-tipo-venta').hasClass('card-active')) {
                    $('#tab-tipo-venta').removeClass('card-active')
                }
                if ($('#tab-carga').hasClass('card-active')) {
                    $('#tab-carga').removeClass('card-active')
                }

                if ($('#tab-reportes').hasClass('card-active')) {
                    $('#tab-reportes').removeClass('card-active')
                }

            })
            $("#tab-reportes").on('click', function (e) {
                const tab = document.getElementById('tab-reportes')
                tab.classList.add('card-active')

                if ($('#tab-tipo-despacho').hasClass('card-active')) {
                    $('#tab-tipo-despacho').removeClass('card-active')
                }

                if ($('#tab-tipo-venta').hasClass('card-active')) {
                    $('#tab-tipo-venta').removeClass('card-active')
                }
                if ($('#tab-carga').hasClass('card-active')) {
                    $('#tab-carga').removeClass('card-active')
                }

                if ($('#tab-progreso').hasClass('card-active')) {
                    $('#tab-progreso').removeClass('card-active')
                }
            })
        </script>

        <script>
            $('#select-progreso').on('change', function (e) {
                alert(this.value);
                const container = document.getElementById("progreso-container")
                if (this.value == 1) {
                    container.innerHTML = '<div class="form-group mb-4">' +
                        '<div class="col-6 col-sm-6">' +
                        '<label class="form-label col-form-label">Total de líneas planificadas</label>' +
                        '<div class="progress">' +
                        '<div class="progress-bar" style="width: 38%" role="progressbar" aria-valuenow="38" aria-valuemin="0" aria-valuemax="100">' +
                        '<span class="visually-hidden">38%</span>' +
                        '</div >' +
                        '</div >' +

                        '</div >' +
                        '</div >' +

                        '<div class="form-group mb-4 row">' +
                        '<div class="col-6 col-sm-3">' +
                        '<label class="form-label col-form-label">Despachos directos</label>' +
                        '<div class="progress">' +
                        '<div class="progress-bar" style="width: 38%" role="progressbar" aria-valuenow="38" aria - valuemin="0" aria - valuemax="100">' +
                        '<span class="visually-hidden">38%</span>' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '<div class="col-6 col-sm-3">' +
                        '<label class="form-label col-form-label">Traspasos entre sucursales</label>' +
                        '<div class="progress">' +
                        '<div class="progress-bar" style="width: 25%" role="progressbar" aria-valuenow="38" aria-valuemin="0" aria-valuemax="100">' +
                        '<span class="visually-hidden">25%</span>' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '<div class="form-group mb-4 row">' +
                        '<div class="col-6 col-sm-3">' +
                        '<label class="form-label col-form-label">Embalaje</label>' +
                        '<div class="progress">' +
                        '<div class="progress-bar" style="width: 38%" role="progressbar" aria-valuenow="38" aria-valuemin="0" aria-valuemax="100">' +
                        '<span class="visually-hidden">38%</span>' +
                        '</div>' +
                        '</div>' +
                        '</div >' +
                        '<div class="col-6 col-sm-3">' +
                        '<label class="form-label col-form-label">Exportaciones</label>' +
                        '<div class="progress">' +
                        '<div class="progress-bar" style="width: 38%" role="progressbar" aria-valuenow="38" aria-valuemin="0" aria-valuemax="100">' +
                        '<span class="visually-hidden">38%</span>' +
                        '</div>' +
                        '</div>' +
                        '</div >' +
                        '</div >' +
                        '</div>' +
                        '<div class="form-group mb-4 row">' +
                        '<div class="col-6 col-sm-3">' +
                        '<label class="form-label col-form-label">Retira cliente</label>' +
                        '<div class="progress">' +
                        '<div class="progress-bar" style="width: 38%" role="progressbar" aria-valuenow="38" aria-valuemin="0" aria-valuemax="100">' +
                        '<span class="visually-hidden">38%</span>' +
                        '</div>' +
                        '</div>' +
                        '</div >' +
                        '</div >'
                }
                if (this.value == 2) {

                    container.innerHTML = '<div class="form-group mb-4">' +
                        '<div class="col-6 col-sm-6">' +
                        '<label class="form-label col-form-label">Total de líneas planificadas</label>' +
                        '<div class="progress">' +
                        '<div class="progress-bar" style="width: 38%" role="progressbar" aria-valuenow="38" aria-valuemin="0" aria-valuemax="100">' +
                        '<span class="visually-hidden">38%</span>' +
                        '</div >' +
                        '</div >' +

                        '</div >' +
                        '</div >' +

                        '<div class="form-group mb-4 row">' +
                        '<div class="col-6 col-sm-3">' +
                        '<label class="form-label col-form-label">1STOCK_R</label>' +
                        '<div class="progress">' +
                        '<div class="progress-bar" style="width: 38%" role="progressbar" aria-valuenow="38" aria - valuemin="0" aria - valuemax="100">' +
                        '<span class="visually-hidden">38%</span>' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '<div class="col-6 col-sm-3">' +
                        '<label class="form-label col-form-label">1STOCK</label>' +
                        '<div class="progress">' +
                        '<div class="progress-bar" style="width: 25%" role="progressbar" aria-valuenow="38" aria-valuemin="0" aria-valuemax="100">' +
                        '<span class="visually-hidden">25%</span>' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '<div class="form-group mb-4 row">' +
                        '<div class="col-6 col-sm-3">' +
                        '<label class="form-label col-form-label"> 2CALZADO</label>' +
                        '<div class="progress">' +
                        '<div class="progress-bar" style="width: 38%" role="progressbar" aria-valuenow="38" aria-valuemin="0" aria-valuemax="100">' +
                        '<span class="visually-hidden">38%</span>' +
                        '</div>' +
                        '</div>' +
                        '</div >' +
                        '<div class="col-6 col-sm-3">' +
                        '<label class="form-label col-form-label"> 2LIQUID</label>' +
                        '<div class="progress">' +
                        '<div class="progress-bar" style="width: 38%" role="progressbar" aria-valuenow="38" aria-valuemin="0" aria-valuemax="100">' +
                        '<span class="visually-hidden">38%</span>' +
                        '</div>' +
                        '</div>' +
                        '</div >' +
                        '</div >' +
                        '</div>' +
                        '<div class="form-group mb-4 row">' +
                        '<div class="col-6 col-sm-3">' +
                        '<label class="form-label col-form-label">2PROYECTO</label>' +
                        '<div class="progress">' +
                        '<div class="progress-bar" style="width: 38%" role="progressbar" aria-valuenow="38" aria-valuemin="0" aria-valuemax="100">' +
                        '<span class="visually-hidden">38%</span>' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '<div class="col-6 col-sm-3">' +
                        '<label class="form-label col-form-label">OS</label>' +
                        '<div class="progress">' +
                        '<div class="progress-bar" style="width: 38%" role="progressbar" aria-valuenow="38" aria-valuemin="0" aria-valuemax="100">' +
                        '<span class="visually-hidden">38%</span>' +
                        '</div>' +
                        '</div>' +
                        '</div >' +
                        '</div >'

                }
            })
        </script>



        <script>
            const e = document.getElementById('nav-item-indicadores')
            e.classList.add('active')

        </script>
        {% endblock %}