.tooltip-inner {
  min-width: 500px !important;
  text-align: start;
  padding: 3px 0.5rem;
}

.progress {
  height: 1.5rem !important;
}
.tooltip-text {
  line-height: 10px;
}

.form-control {
  background-color: #fff !important;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #f1f5f9 !important;
}
