{% extends 'base.html' %}

{% block content %}
<div class="container-xl">
    <!-- Page title -->
    <div class="page-header d-print-none">
        <div class="row align-items-center">
            <div class="col">
                <h2 class="page-title">
                    Packing List
                </h2>
            </div>
        </div>
    </div>
</div>
<div class="page-body">
    <div class="container-xl">
        <!-- Content here -->
        <div class="row row-cards">

            <div class="col-12">
                <div class="card">
                    <div class='card-header'>
                        <h3 class="card-title">Datos bulto</h3>
                    </div>
                    <form method="POST" enctype="multipart/form-data" id="form-pl" action="">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label class="form-label">Orden de venta</label>
                                        <div class="input-group mb-2">
                                            <span class="input-group-text">
                                                OV
                                            </span>
                                            {{form_bulto.orden_venta}}
                                        </div>


                                    </div>
                                </div>

                                <div class="col-xl-4 mb-3" id="container-agregar-ov">
                                    <label class="form-label" style="visibility: hidden;">bt</label>
                                    <button class="btn btn-primary w-100" id='btn-agregar-ov' type="button">
                                        <!-- Download SVG icon from http://tabler-icons.io/i/search -->
                                        <svg xmlns="http://www.w3.org/2000/svg" id="icon-agregar-ov"
                                            class="icon icon-tabler icon-tabler-plus" width="24" height="24"
                                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <line x1="12" y1="5" x2="12" y2="19"></line>
                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                        </svg>
                                        Ingresar OV
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="mb-3">
                                        <label class="form-label">Tipo de bulto</label>
                                        <!-- <input type="text" class="form-control" name="bulto_input" id="bulto_input"> -->
                                        {{form_bulto.tipo_bulto}}
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <div class="mb-3">
                                        <label class="form-label">Largo (mt)</label>
                                        {{form_bulto.largo}}
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <div class="mb-3">
                                        <label class="form-label">Ancho (mt)</label>
                                        {{form_bulto.ancho}}
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <div class="mb-3">
                                        <label class="form-label">Alto (mt)</label>
                                        {{form_bulto.alto}}
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="mb-3">
                                        <label class="form-label">Volumen (m3)</label>
                                        {{form_bulto.volumen}}
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="mb-3">
                                        <label class="form-label">Peso bruto (kg)</label>
                                        {{form_bulto.peso_bruto}}
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="mb-3">
                                        <label class="form-label">Peso neto (kg)</label>
                                        {{form_bulto.peso_neto}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-1">
                                    <div class="mb-3">
                                        <label class="form-label">Línea</label>
                                        <input type="text" class="form-control" id="bulto_linea">
                                    </div>
                                </div>

                                <div class="col-lg-2">
                                    <div class="mb-3">
                                        <label class="form-label">Código</label>
                                        <input type="text" class="form-control" name="bulto_codigo" id="bulto_codigo"
                                            style="background-color: #f1f5f9 !important" disabled>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label class="form-label">Descripción</label>
                                        <input type="text" class="form-control" name="bulto_descripcion"
                                            id="bulto_descripcion" disabled>
                                    </div>
                                </div>

                                <div class="col-lg-1">
                                    <div class="mb-3">
                                        <label class="form-label">Cantidad</label>
                                        <input type="text" class="form-control" id="bulto_cantidad">
                                    </div>
                                </div>

                                <div class="col-xl-4 mb-3">
                                    <label class="form-label" style="visibility: hidden;">bt</label>
                                    <button class="btn btn-primary w-100" id='btn-agregar-linea' type="button">
                                        <!-- Download SVG icon from http://tabler-icons.io/i/search -->
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="icon icon-tabler icon-tabler-plus" width="24" height="24"
                                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <line x1="12" y1="5" x2="12" y2="19"></line>
                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                        </svg>
                                        Agregar línea
                                    </button>
                                </div>
                                <div class="row">
                                    <!-- <div class="col-xl-3 mb-3">
                                        <button class="btn btn-primary w-100" type="button" id="btn-finalizar-bulto">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                class="icon icon-tabler icon-tabler-list-check" width="24" height="24"
                                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                                stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M3.5 5.5l1.5 1.5l2.5 -2.5"></path>
                                                <path d="M3.5 11.5l1.5 1.5l2.5 -2.5"></path>
                                                <path d="M3.5 17.5l1.5 1.5l2.5 -2.5"></path>
                                                <line x1="11" y1="6" x2="20" y2="6"></line>
                                                <line x1="11" y1="12" x2="20" y2="12"></line>
                                                <line x1="11" y1="18" x2="20" y2="18"></line>
                                            </svg>
                                            Finalizar bulto
                                        </button>
                                    </div> -->
                                    <div class="col-xl-3 mb-3">
                                        <button class="btn btn-primary w-100" type="button" id="btn-agregar-bulto">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                class="icon icon-tabler icon-tabler-layout-grid-add" width="24"
                                                height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <rect x="4" y="4" width="6" height="6" rx="1"></rect>
                                                <rect x="14" y="4" width="6" height="6" rx="1"></rect>
                                                <rect x="4" y="14" width="6" height="6" rx="1"></rect>
                                                <path d="M14 17h6m-3 -3v6"></path>
                                            </svg>
                                            Agregar bulto
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- </div> -->
                        </div>
                        <div class="card-header">
                            <h3 class="card-title">Contenido bulto 1</h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <div class="gridjs gridjs-container">
                                    <table class="gridjs-table" id='tabla-bulto-1'>
                                        <thead class="gridjs-thead">
                                            <tr class="gridjs-tr">
                                                <th class="gridjs-th gridjs-th-sort gridjs-th-fixed text-center"
                                                    style="width: 50px;">
                                                    LÍNEA</th>
                                                <th class=" gridjs-th gridjs-th-sort gridjs-th-fixed text-center"
                                                    style="width: 150px;">
                                                    CÓDIGO
                                                </th>
                                                <th class=" gridjs-th gridjs-th-sort gridjs-th-fixed text-center"
                                                    style="width: 355px;">
                                                    DESCRIPCIÓN
                                                </th>
                                                <th class=" gridjs-th gridjs-th-sort gridjs-th-fixed text-center"
                                                    style="width: 50px;">
                                                    CANTIDAD
                                                </th>
                                                <th class=" gridjs-th gridjs-th-sort gridjs-th-fixed text-center"
                                                    style="width: 100px;">
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class=" gridjs-tbody" style="text-align: center;">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div id="nuevo-bulto">
                        </div>

                        <div class="card-footer text-end">
                            <div class="d-flex">
                                <button type="submit" class="btn btn-success ms-auto" id="btn-guardar-pl">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        class="icon icon-tabler icon-tabler-file-plus" width="24" height="24"
                                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                                        <path
                                            d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z">
                                        </path>
                                        <line x1="12" y1="11" x2="12" y2="17"></line>
                                        <line x1="9" y1="14" x2="15" y2="14"></line>
                                    </svg>
                                    Guardar Packing-List y generar PDF
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-blur fade" id="modal-existe-linea" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-status bg-danger"></div>
            <div class="modal-body text-center py-4">

                <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24"
                    viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 9v2m0 4v.01" />
                    <path
                        d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75" />
                </svg>
                <h3>Alerta</h3>
                <div class="text-muted" id='content-existe-linea'> La línea ingresada ya se encuentra en el bulto
                </div>
            </div>
            <div class="modal-footer">
                <div class="w-100">
                    <div class="row">

                        <div class="col"><a href="#" class="btn btn-danger w-100" data-bs-dismiss="modal">
                                OK
                            </a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-blur fade" id="modal-ov-valida" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-status bg-info"></div>
            <div class="modal-body text-center py-4">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-info icon-lg" width="24" height="24"
                    viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M14 3v4a1 1 0 0 0 1 1h4" />
                    <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
                    <path d="M9 15l2 2l4 -4" />
                </svg>

                <h3>Ingreso exitoso</h3>
                <div class="text-muted">Orden de venta valida</div>
            </div>
            <div class="modal-footer">
                <div class="w-100">
                    <div class="row">

                        <div class="col"><a href="#" class="btn btn-info w-100" data-bs-dismiss="modal">
                                OK
                            </a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<iframe id="my_iframe" style="display:none;"></iframe>
<div class="modal modal-blur fade" id="modal-error-finalizar-bulto" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-status bg-danger"></div>
            <div class="modal-body text-center py-4">

                <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24"
                    viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 9v2m0 4v.01" />
                    <path
                        d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75" />
                </svg>
                <h3>Alerta</h3>
                <div class="text-muted" id='content-error-finalizar-bulto'>Complete todos los campos</div>
            </div>
            <div class="modal-footer">
                <div class="w-100">
                    <div class="row">

                        <div class="col"><a href="#" class="btn btn-danger w-100" data-bs-dismiss="modal">
                                OK
                            </a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-blur fade" id="modal-error-lineas-bulto" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-status bg-danger"></div>
            <div class="modal-body text-center py-4">

                <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24"
                    viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 9v2m0 4v.01" />
                    <path
                        d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75" />
                </svg>
                <h3>Alerta</h3>
                <div class="text-muted" id='content-error-lineas-bulto'>Debe agregar una linea al bulto</div>
            </div>
            <div class="modal-footer">
                <div class="w-100">
                    <div class="row">

                        <div class="col"><a href="#" class="btn btn-danger w-100" data-bs-dismiss="modal">
                                OK
                            </a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-blur fade" id="modal-linea-not-found" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-status bg-danger"></div>
            <div class="modal-body text-center py-4">

                <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24"
                    viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 9v2m0 4v.01" />
                    <path
                        d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75" />
                </svg>
                <h3>Alerta</h3>
                <div class="text-muted" id='content-error-linea'>No se encontraron datos para la línea</div>
            </div>
            <div class="modal-footer">
                <div class="w-100">
                    <div class="row">

                        <div class="col"><a href="#" class="btn btn-danger w-100" data-bs-dismiss="modal">
                                OK
                            </a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal modal-blur fade" id="modal-select-bulto-linea" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Seleccione el bulto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <div class="form-label">Bulto</div>
                    <select class="form-select" id="select-bultos">

                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btn-cancel-bulto" class="btn me-auto" data-bs-dismiss="modal">
                    Cancelar
                </button>
                <button id="btn-select-bulto" class="btn btn-primary ms-auto">
                    Confirmar
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-blur fade" id="modal-pl-guardado" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-status bg-success"></div>
            <div class="modal-body text-center py-4">

                <!-- Download SVG icon from http://tabler-icons.io/i/file-check -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-success icon-lg" width="24" height="24"
                    viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M14 3v4a1 1 0 0 0 1 1h4" />
                    <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
                    <path d="M9 15l2 2l4 -4" />
                </svg>

                <h3>Packing List ingresado</h3>
                <div class="text-muted">Se guardo correctamente el Packing List</div>
            </div>
            <div class="modal-footer">
                <div class="w-100">
                    <div class="row">

                        <div class="col"><a href="#" class="btn btn-success w-100" data-bs-dismiss="modal">
                                OK
                            </a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-blur fade" id="modal-error-guardar-pl" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-status bg-danger"></div>
            <div class="modal-body text-center py-4">

                <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24"
                    viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 9v2m0 4v.01" />
                    <path
                        d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75" />
                </svg>
                <h3>Alerta</h3>
                <div class="text-muted" id='content-error-guardar-pl'>404</div>
            </div>
            <div class="modal-footer">
                <div class="w-100">
                    <div class="row">

                        <div class="col"><a href="#" class="btn btn-danger w-100" data-bs-dismiss="modal">
                                OK
                            </a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const e = document.getElementById('nav-item-packing')
    e.classList.add('active')
    $(function () {
        jQuery("input, button")
            .not("#bulto_ov").attr("disabled", "disabled")
        document.getElementById('btn-agregar-ov').disabled = false;
    })
</script>

<script>
    $("#btn-agregar-ov").on('click', function (e) {
        if ($('#bulto_ov').val() != '') {
            var ov = 'OV' + document.getElementById('bulto_ov').value
            $.ajax({
                type: 'GET',
                url: "{% url 'validar_orden_pl' %}",
                data: {
                    'orden_venta': ov,
                },
                dataType: "json",
                beforeSend: function () {
                    // alert('ANTES DE ENVIAR')
                },
                success: function (response) {
                    jQuery("input, button").removeAttr("disabled", "disabled")
                    document.getElementById('bulto_ov').disabled = true;
                    document.getElementById('btn-agregar-ov').disabled = true;
                    document.getElementById('bulto_codigo').disabled = true;
                    document.getElementById('bulto_descripcion').disabled = true;
                    document.getElementById('bulto_volumen').disabled = true;
                    $('#modal-ov-valida').modal('show')
                },
                error: function (response) {
                    $("#modal-error-guardar-pl").modal('show');
                    $('#content-error-guardar-pl').text('No se encontraron datos para la orden de venta ingresada')
                }
            })
        } else {
            $('#bulto_ov').addClass('is-invalid');
            e.preventDefault()
        }
    })
</script>
<script>
    $("#bulto_linea").on('change', function (e) {
        document.getElementById('bulto_codigo').value = '';
        document.getElementById('bulto_descripcion').value = '';
        var ov = 'OV' + document.getElementById('bulto_ov').value
        var linea = document.getElementById('bulto_linea').value
        $.ajax({
            type: 'GET',
            url: "{% url 'obtener_articulo_pl' %}",
            data: {
                'orden_venta': ov,
                'linea': linea
            },
            dataType: "json",
            success: function (response) {
                // alert('Datos encontrados')
                document.getElementById('bulto_codigo').value = response['codigo'];
                document.getElementById('bulto_descripcion').value = response['descripcion'];
            },
            error: function (response) {
                $('#content-error-linea').text('No se encontraron datos para la línea')
                $('#modal-linea-not-found').modal('show')
            }

        })
    })
</script>

<script>
    var boton = document.getElementById('btn-agregar-linea')
    boton.addEventListener("click", function () {
        document.getElementById("select-bultos").options.length = 0;
        var cant_bultos = $('.table-responsive').length
        var arr_bultos = []
        for (var i = 0; i < cant_bultos; i++) {
            arr_bultos.push(i);
        }
        arr_bultos.forEach(e => {
            var num = e + 1
            $('#select-bultos').append($('<option>', {
                value: 'tabla-bulto-' + num,
                text: 'Bulto ' + num
            }));
        });

    });

</script>

<script>
    var lista_lineas = []

    function eliminarFila(linea) {
        if (lista_lineas.includes(linea)) {
            var index = lista_lineas.indexOf(linea);
            if (index !== -1) {
                lista_lineas.splice(index, 1);
            }
        }
        var td = event.target.parentNode;
        var tr = td.parentNode;
        tr.parentNode.removeChild(tr);
    }

    $("#btn-agregar-linea").on('click', function (e) {
        if ($('#bulto_linea').val() == '' || $('#bulto_codigo').val() == '' || $('#bulto_descripcion').val() == '' || $('#bulto_cantidad').val() == '') {
            $('#content-error-linea').text('Verifique que todos los campos de la línea esten completos ')
            $('#modal-linea-not-found').modal('show')

            if ($('#bulto_linea').val() == '') {
                $('#bulto_linea').addClass('is-invalid');
            }
            if ($('#bulto_cantidad').val() == '') {
                $('#bulto_cantidad').addClass('is-invalid');
            }
            e.preventDefault()
        } else {
            var linea = document.getElementById('bulto_linea').value
            var ov = 'OV' + document.getElementById('bulto_ov').value
            $.ajax({
                type: 'GET',
                url: "{% url 'validar_linea_pl' %}",
                data: {
                    'orden_venta': ov,
                    'linea': linea,
                },
                dataType: "json",
                success: function (response) {
                    if (response['valid']) {
                        $("#modal-select-bulto-linea").modal('show')
                        var linea = document.getElementById('bulto_linea').value
                        var codigo = document.getElementById('bulto_codigo').value
                        var descripcion = document.getElementById('bulto_descripcion').value
                        var cantidad = document.getElementById('bulto_cantidad').value


                        $('#modal-select-bulto-linea').on('shown.bs.modal', function (e) {
                            var btnConfirmar = $(this).find('#btn-select-bulto');

                            btnConfirmar.off('click').on('click', function () {
                                if (lista_lineas.includes(linea)) {
                                    $("#modal-existe-linea").modal('show');
                                } else {
                                    var select = document.getElementById("select-bultos");
                                    // alert(select.value)
                                    lista_lineas.push(linea)
                                    // $("#tabla-bulto-1").append(`<tr class="gridjs-tr">
                                    $("#" + select.value).append(`<tr class="gridjs-tr">
                                        <td class="gridjs-td"><input type="hidden" name="linea-${linea}-${cantidad}-${select.value}" value="${linea}" id='linea-tabla'>${linea}</td>
                                        <td class="gridjs-td"><input type="hidden" name="codigo-${codigo}" value="${codigo}" id='codigo-${codigo}'>${codigo}</td>
                                        <td class="gridjs-td"><input type="hidden" name="desc!${descripcion}" value="${descripcion}" id='descripcion-${descripcion}'>${descripcion}</td>
                                        <td class="gridjs-td"><input type="hidden" name="cantidad-${cantidad}" value="${cantidad}" id='cantidad-${cantidad}'>${cantidad}</td>
                                        <td class="gridjs-td">
                                            <a class="btn btn-danger" onclick="eliminarFila('${linea}')">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <line x1="4" y1="7" x2="20" y2="7"></line>
                                            <line x1="10" y1="11" x2="10" y2="17"></line>
                                            <line x1="14" y1="11" x2="14" y2="17"></line>
                                            <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                                            <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                                            </svg>
                                            Eliminar
                                            </a>
                                        </td>
                                        </tr>`);
                                    document.getElementById('bulto_linea').value = ""
                                    document.getElementById('bulto_codigo').value = ""
                                    document.getElementById('bulto_descripcion').value = ""
                                    document.getElementById('bulto_cantidad').value = ""
                                    $('#modal-select-bulto-linea').modal('hide'); // Hide Modal
                                }
                            })

                        })
                    }

                },
                error: function (response) {
                    data = JSON.parse(response.responseText)
                    $("#modal-error-guardar-pl").modal('show');
                    $('#content-error-guardar-pl').text(data['detalles'])
                }
            })

        }
    })
</script>
<script>
    $("#bulto_ov").on('focus', function (e) {
        event.stopPropagation();
        $('#bulto_ov').removeClass("is-invalid");
    })
    $("#bulto_linea").on('focus', function (e) {
        event.stopPropagation();
        $('#bulto_linea').removeClass("is-invalid");
    })
    $("#bulto_cantidad").on('focus', function (e) {
        event.stopPropagation();
        $('#bulto_cantidad').removeClass("is-invalid");
    })
    $("#tipo_bulto").on('focus', function (e) {
        event.stopPropagation();
        $('#tipo_bulto').removeClass("is-invalid");
    })
    $("#bulto_largo").on('focus', function (e) {
        event.stopPropagation();
        $('#bulto_largo').removeClass("is-invalid");
    })
    $("#bulto_ancho").on('focus', function (e) {
        event.stopPropagation();
        $('#bulto_ancho').removeClass("is-invalid");
    })
    $("#bulto_alto").on('focus', function (e) {
        event.stopPropagation();
        $('#bulto_alto').removeClass("is-invalid");
    })
    $("#bulto_volumen").on('focus', function (e) {
        event.stopPropagation();
        $('#bulto_volumen').removeClass("is-invalid");
    })
    $("#bulto_peso_bruto").on('focus', function (e) {
        event.stopPropagation();
        $('#bulto_peso_bruto').removeClass("is-invalid");
    })
    $("#bulto_peso_neto").on('focus', function (e) {
        event.stopPropagation();
        $('#bulto_peso_neto').removeClass("is-invalid");
    })
</script>
<script>
    $("#btn-guardar-pl").on('click', function (e) {
        if (document.getElementById('tipo_bulto').value == '' || document.getElementById('bulto_largo').value == '' ||
            document.getElementById('bulto_ancho').value == '' || document.getElementById('bulto_alto').value == '' || document.getElementById('bulto_volumen').value == '' ||
            document.getElementById('bulto_peso_bruto').value == '' || document.getElementById('bulto_peso_neto').value == '') {
            e.preventDefault()
            if ($('#tipo_bulto').val() == '') {
                $('#tipo_bulto').addClass('is-invalid');
            }
            if ($('#bulto_largo').val() == '') {
                $('#bulto_largo').addClass('is-invalid');
            }
            if ($('#bulto_ancho').val() == '') {
                $('#bulto_ancho').addClass('is-invalid');
            }
            if ($('#bulto_alto').val() == '') {
                $('#bulto_alto').addClass('is-invalid');
            }
            // if ($('#bulto_volumen').val() == '') {
            //     $('#bulto_volumen').addClass('is-invalid');
            // }
            if ($('#bulto_peso_bruto').val() == '') {
                $('#bulto_peso_bruto').addClass('is-invalid');
            }
            if ($('#bulto_peso_neto').val() == '') {
                $('#bulto_peso_neto').addClass('is-invalid');
            }
            $("#modal-error-finalizar-bulto").modal('show');
        } else {
            var peso_bruto = document.getElementById('bulto_peso_bruto').value
            var peso_neto = document.getElementById('bulto_peso_neto').value
            if (peso_bruto <= peso_neto) {
                $('#bulto_peso_bruto').addClass('is-invalid');
                $('#bulto_peso_neto').addClass('is-invalid');
                $("#modal-error-lineas-bulto").modal('show');
                $('#content-error-lineas-bulto').text('El peso bruto no puede ser menor al peso neto')
                e.preventDefault()
            }

            const bultos_pesos_bruto = document.querySelectorAll("[id^=peso_bruto]");
            var peso_valido = true
            bultos_pesos_bruto.forEach(e => {
                var bulto_peso_neto = document.getElementById('peso_neto' + e.id.slice(-1)).value
                if (e.value <= bulto_peso_neto) {
                    peso_valido = false
                }
            });

            if (peso_valido == false) {
                $("#modal-error-lineas-bulto").modal('show');
                $('#content-error-lineas-bulto').text('El peso bruto no puede ser menor al peso neto')
                e.preventDefault()
            }


            var lineas = [];
            const tablas = document.querySelectorAll("[id*=tabla-bulto-]");
            var valido = true
            var num_bulto = ''
            tablas.forEach(element => {
                let len_tablas = []
                $('#' + element.id + ' tr').each(function () {
                    var linea = $(this).find("td:nth-child(1)").text()
                    var cantidad = $(this).find("td:nth-child(4)").text()
                    len_tablas.push(linea + "-" + cantidad);
                });
                if (len_tablas.length < 2) {
                    e.preventDefault()
                    valido = false
                    num_bulto = element.id
                } else {
                    valido = true
                }
            });
            if (valido == false) {
                $("#modal-error-lineas-bulto").modal('show');
                $('#content-error-lineas-bulto').text('Debe agregar una linea al bulto número ' + num_bulto.slice(num_bulto.length - 1))
                e.preventDefault()
            }
            $('#tabla-bulto-1 tr').each(function () {
                var linea = $(this).find("td:nth-child(1)").text()
                var cantidad = $(this).find("td:nth-child(4)").text()
                lineas.push(linea + "-" + cantidad);
            });
            if (lineas.length < 2) {
                $("#modal-error-lineas-bulto").modal('show');
                $('#content-error-lineas-bulto').text('Debe agregar una linea al bulto número 1')
                e.preventDefault()
            }
        }
    })
</script>

<script>
    var lista_lineas = []

    function eliminarFila(linea) {
        if (lista_lineas.includes(linea)) {
            var index = lista_lineas.indexOf(linea);
            if (index !== -1) {
                lista_lineas.splice(index, 1);
            }
        }
        var td = event.target.parentNode;
        var tr = td.parentNode;
        tr.parentNode.removeChild(tr);
    }


    var contador = 2

    function eliminarBulto(bulto) {
        $('#nuevo-bulto-' + bulto).remove();
    }


    $("#btn-agregar-bulto").on('click', function (e) {
        var tabla = 'tabla-bulto-' + contador
        const container = document.getElementById("nuevo-bulto")
        container.innerHTML +=
            `<div id="nuevo-bulto-${contador}">` +
            `<div class="card-header">` +
            `<h3 class="card-title">Bulto ${contador}</h3>` +
            '<div class="col-auto ms-auto">' +
            '<div class="btn-list">' +
            '<span class="d-none d-sm-inline">' +
            `<a class="btn btn-danger" onclick="eliminarBulto('${contador}')">` +
            `<svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-trash" width="24" height="24"
                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                            fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <line x1="4" y1="7" x2="20" y2="7"></line>
                            <line x1="10" y1="11" x2="10" y2="17"></line>
                            <line x1="14" y1="11" x2="14" y2="17"></line>
                            <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                            <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                        </svg>
                        Eliminar bulto`+
            '</a>' +
            '</span>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '<div class="card-body">' +
            '<div class="row">' +
            '<div class="col-lg-3">' +
            '<div class="mb-3">' +
            '<label class="form-label">Tipo de bulto</label>' +
            // '{{form_bulto.tipo_bulto}}' +
            `<input type="text" class="form-control" name="tipo_bulto${contador}" id="tipo_bulto${contador}" required>` +
            '</div>' +
            '</div>' +
            '<div class="col-lg-1">' +
            '<div class="mb-3">' +
            '<label class="form-label">Largo (mt)</label>' +
            // '{{ form_bulto.largo }}' +
            `<input type="text" class="form-control" name="largo${contador}" id="largo${contador}" required>` +
            '</div>' +
            '</div>' +
            '<div class="col-lg-1">' +
            '<div class="mb-3">' +
            '<label class="form-label">Ancho (mt)</label>' +
            // '{{ form_bulto.ancho }}' +
            `<input type="text" class="form-control" name="ancho${contador}" id="ancho${contador}" required>` +
            '</div>' +
            '</div>' +
            '<div class="col-lg-1">' +
            '<div class="mb-3">' +
            '<label class="form-label">Alto (mt)</label>' +
            `<input type="text" class="form-control" name="alto${contador}" id="alto${contador}" required>` +
            '</div>' +
            '</div>' +
            '<div class="col-lg-2">' +
            '<div class="mb-3">' +
            '<label class="form-label">Volumen (m3)</label>' +
            // '{{ form_bulto.volumen }}' +
            `<input type="text" class="form-control" name="volumen${contador}" id="volumen${contador}" required disabled>` +
            '</div>' +
            '</div>' +
            '<div class="col-lg-2">' +
            '<div class="mb-3">' +
            '<label class="form-label">Peso bruto (kg)</label>' +
            // '{{ form_bulto.peso_bruto }}' +
            `<input type="text" class="form-control" name="peso_bruto${contador}" id="peso_bruto${contador}" required>` +
            '</div>' +
            '</div>' +
            '<div class="col-lg-2">' +
            '<div class="mb-3">' +
            '<label class="form-label">Peso neto (kg)</label>' +
            // '{{ form_bulto.peso_neto }}' +
            `<input type="text" class="form-control" name="peso_neto${contador}" id="peso_neto${contador}" required>` +
            '</div>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '<div class="card-header">' +
            `<h3 class="card-title">Contenido bulto ${contador}</h3>` +
            '</div >' +
            '<div class="card-body">' +

            '<div class="table-responsive">' +
            '<div class="gridjs gridjs-container">' +
            `<table class="gridjs-table" id='${tabla}' name='${tabla}'>` +
            '<thead class="gridjs-thead">' +
            '<tr class="gridjs-tr">' +
            '<th class="gridjs-th gridjs-th-sort gridjs-th-fixed text-center" style="width: 50px;">LÍNEA</th>' +
            '<th class=" gridjs-th gridjs-th-sort gridjs-th-fixed text-center" style="width: 150px;">CÓDIGO</th>' +
            '<th class=" gridjs-th gridjs-th-sort gridjs-th-fixed text-center" style="width: 355px;">DESCRIPCIÓN</th>' +
            '<th class=" gridjs-th gridjs-th-sort gridjs-th-fixed text-center" style="width: 50px;">CANTIDAD</th>' +
            '<th class=" gridjs-th gridjs-th-sort gridjs-th-fixed text-center"style="width: 100px;"></th>' +
            '</tr>' +
            '</thead>' +
            '<tbody class=" gridjs-tbody" style="text-align: center;">' +

            '</tbody>' +
            '</table>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '</div>'



        function setInputFilter(textbox, inputFilter) {
            ["input", "keydown", "keyup", "mousedown", "mouseup", "select", "contextmenu", "drop"].forEach(function (event) {
                textbox.addEventListener(event, function () {
                    if (inputFilter(this.value)) {
                        this.oldValue = this.value;
                        this.oldSelectionStart = this.selectionStart;
                        this.oldSelectionEnd = this.selectionEnd;
                    } else if (this.hasOwnProperty("oldValue")) {
                        this.value = this.oldValue;
                        this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                    } else {
                        this.value = "";
                    }
                });
            });
        }

        setInputFilter(document.getElementById(`largo${contador}`), function (value) {
            return /^-?\d*[.,]?\d*$/.test(value);
        });
        setInputFilter(document.getElementById(`ancho${contador}`), function (value) {
            return /^-?\d*[.,]?\d*$/.test(value);
        });
        setInputFilter(document.getElementById(`alto${contador}`), function (value) {
            return /^-?\d*[.,]?\d*$/.test(value);
        });
        setInputFilter(document.getElementById(`volumen${contador}`), function (value) {
            return /^-?\d*[.,]?\d*$/.test(value);
        });
        setInputFilter(document.getElementById(`peso_bruto${contador}`), function (value) {
            return /^-?\d*[.,]?\d*$/.test(value);
        });
        setInputFilter(document.getElementById(`peso_neto${contador}`), function (value) {
            return /^-?\d*[.,]?\d*$/.test(value);
        });

        const largos = document.querySelectorAll("[id*=largo]");
        const anchos = document.querySelectorAll("[id*=ancho]");
        const altos = document.querySelectorAll("[id*=alto]");

        largos.forEach(largo => {
            largo.addEventListener('change', function () {
                var alto = document.getElementById('alto' + largo.id.slice(-1)).value
                var ancho = document.getElementById('ancho' + largo.id.slice(-1)).value
                document.getElementById('volumen' + largo.id.slice(-1)).value = largo.value * ancho * alto
            })
        });
        anchos.forEach(ancho => {
            ancho.addEventListener('change', function () {
                var largo = document.getElementById('largo' + ancho.id.slice(-1)).value
                var alto = document.getElementById('alto' + ancho.id.slice(-1)).value
                document.getElementById('volumen' + ancho.id.slice(-1)).value = largo * ancho.value * alto
            })
        });
        altos.forEach(alto => {
            alto.addEventListener('change', function () {
                var largo = document.getElementById('largo' + alto.id.slice(-1)).value
                var ancho = document.getElementById('ancho' + alto.id.slice(-1)).value
                document.getElementById('volumen' + alto.id.slice(-1)).value = largo * ancho * alto.value
            })
        });

        contador = contador + 1
    })
</script>

<script>
    $('#form-pl').submit(function () {
        $("#bulto_ov").removeAttr('disabled');
        $("#bulto_volumen").removeAttr('disabled');
        const volumenes = document.querySelectorAll("[id*=volumen]");
        volumenes.forEach(vol => {
            $('#' + vol.id).removeAttr('disabled')
        });
    });
</script>

<script>
    function setInputFilter(textbox, inputFilter) {
        ["input", "keydown", "keyup", "mousedown", "mouseup", "select", "contextmenu", "drop"].forEach(function (event) {
            textbox.addEventListener(event, function () {
                if (inputFilter(this.value)) {
                    this.oldValue = this.value;
                    this.oldSelectionStart = this.selectionStart;
                    this.oldSelectionEnd = this.selectionEnd;
                } else if (this.hasOwnProperty("oldValue")) {
                    this.value = this.oldValue;
                    this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                } else {
                    this.value = "";
                }
            });
        });
    }

    setInputFilter(document.getElementById("bulto_largo"), function (value) {
        return /^-?\d*[.,]?\d*$/.test(value);
    });
    setInputFilter(document.getElementById("bulto_ancho"), function (value) {
        return /^-?\d*[.,]?\d*$/.test(value);
    });
    setInputFilter(document.getElementById("bulto_alto"), function (value) {
        return /^-?\d*[.,]?\d*$/.test(value);
    });
    setInputFilter(document.getElementById("bulto_volumen"), function (value) {
        return /^-?\d*[.,]?\d*$/.test(value);
    });
    setInputFilter(document.getElementById("bulto_peso_bruto"), function (value) {
        return /^-?\d*[.,]?\d*$/.test(value);
    });
    setInputFilter(document.getElementById("bulto_peso_neto"), function (value) {
        return /^-?\d*[.,]?\d*$/.test(value);
    });
    setInputFilter(document.getElementById("bulto_linea"), function (value) {
        return /^\d*$/.test(value);
    });
    setInputFilter(document.getElementById("bulto_cantidad"), function (value) {
        return /^\d*$/.test(value);
    });
</script>

<script>
    $('#bulto_largo, #bulto_ancho, #bulto_alto').change(function () {
        var largo = $('#bulto_largo').val();
        var ancho = $('#bulto_ancho').val();
        var alto = $('#bulto_alto').val();
        document.getElementById('bulto_volumen').value = largo * ancho * alto;
    });
</script>


{% if guardado %}
<script type="text/javascript">
    $(document).ready(function () {

        let pl = JSON.parse("{{pl}}")
        $("#modal-pl-guardado").modal('show');
        document.getElementById('my_iframe').src = `{% url 'pl_pdf' %}?pl=${pl}`
    })
</script>
{% endif %}

{% if error %}
<script type="text/javascript">
    $(document).ready(function () {
        $("#modal-error-guardar-pl").modal('show');
        $('#content-error-guardar-pl').text('{{detalles}}')
    });
</script>
{% endif %}

{% endblock %}