{% extends 'base.html' %}

{% block content %}
<div class="container-xl">
    <!-- Page title -->
    <div class="page-header d-print-none">
        <div class="row align-items-center">
            <div class="col">
                <h2 class="page-title">
                    Bienvenido/a
                </h2>
            </div>
            <!-- Page title actions -->

        </div>
    </div>
</div>
<div class="page-body">
    <div class="container-xl">
        <div class="col-12">
            <div class="card">
                <div class='card-header'>
                    <h3 class="card-title">Menú de inicio</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const e = document.getElementById('nav-item-inicio')
    e.classList.add('active')
</script>
{% endblock %}